@model Transpo.WebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Заборавена лозинка?";
}
<div class="ui container">
    <h2 class="ui header">@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form forgotpasswordform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="ui dividing header">Внесете ја вашата емаил адреса</h4>

        @Html.ValidationSummary(true, "", new { @class = "ui error message", @style = "display:block;" })
        <div class="four wide field">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="field">
            <button type="submit" class="ui primary button" value="Испрати емаил" id="btnForgotPassword">Испрати емаил</button>
        </div>
    }
</div>

<script>

    $.fn.form.settings.rules.isExisting = function (value) {
        var result = false;
        $.ajax({
            async: false,
            url: '../Account/IsTaken',
            type: 'GET',
            data: {
                email: $('#Email').val()
            },
            success: function (data) {
                if (data == "True") {
                    result = true;
                } else {
                    result = false;
                }
            }
        });
        return result;
    }

    $('.ui.form.forgotpasswordform').form({
        fields: {
            email: {
                identifier: 'Email',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Внесете емаил'
                    },
                    {
                        type: 'email',
                        prompt: 'Внесете валиден емаил'
                    }
                ]
            }
        },
        inline: true,
        onSuccess: function (e, data) {
            $('#btnForgotPassword').addClass('loading');
        }
    });
</script>
</script>