@using Transpo.WebApp.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<div class="header">@ViewBag.Title</div>
<div class="content">
    <section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
            @Html.AntiForgeryToken()
            <div class="ui form">
                <div class="field">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="ui submit button" type="submit" onclick="document.getElementById('submitLogin').click();">Login</div>
                <div style="display:none;">
                    <input id="submitLogin" type="submit" value="Log in" class="btn btn-default" />
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

<script>
    $('.checkbox').checkbox();
</script>