@model Transpo.WebApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Ресетирање лозинка";
}
<div class="ui container">
    <h2 class="ui header">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui form resetpasswordform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="ui dividing header">Ресетирање лозинка</h4>
        @Html.ValidationSummary(true, "", new { @class = "ui error message", @style = "display:block;" })
        @Html.HiddenFor(model => model.Code)
        
        <div class="four wide field">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="four wide field">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="four wide field">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <div class="four wide field">
            <button type="submit" class="ui primary button" value="Ресетирај" id="btnResetPassword">Ресетирај</button>
        </div>
    }
</div>

<script>

    $.fn.form.settings.rules.matchPasswords = function (value) {
        return $('#Password').val() === value;
    }

    $('.ui.form.resetpasswordform').form({
        fields: {
            email: {
                identifier: 'Email',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Внесете емаил'
                    },
                    {
                        type: 'email',
                        prompt: 'Внесете валиден емаил'
                    }
                ]
            },
            Password: {
                identifier: 'Password',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Внесете нова лозинка'
                },
                {
                    type: 'length[6]',
                    prompt: 'Вашата лозинка мора да има барем 6 карактери'
                }
                ]
            },
            confirmPassword: {
                identifier: 'ConfirmPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Потврдете ја лозинката'
                },
                {
                    type: 'matchPasswords',
                    prompt: 'Вашите лозинки мора да се совпаѓаат'
                }
                ]
            }
        },
        inline: true,
        onSuccess: function (e, data) {
            $('#btnResetPassword').addClass('loading');
        }
    });
</script>