@model Transpo.WebApp.Models.RideDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="ui container">
    <h4 class="ui header">@Model.Ride</h4>
    <div class="ui segment">
        <div class="ui two column divided grid">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="six wide column">
                            Place of Departure
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.CriticalPoints.FirstOrDefault()
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Place of Arrival
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.CriticalPoints.LastOrDefault()
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Date of Departure
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Departure
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Details
                        </div>
                        <div class="ten wide column">
                            No details
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui dividing medium header">Info</div>
                <div class="row">
                    @Model.Ride.PricePerPassenger per passenger
                </div>
                <div class="ui dividing medium header">Driver</div>
                <div class="row">
                    <div class="ui card">
                        <div class="content">
                            <img class="left floated tiny circular ui image" src="@Model.Driver.PictureUrl" />
                            <div class="ui medium header">
                                @Model.Driver.Name
                            </div>
                            <div class="meta">
                                20 years
                            </div>
                            <div class="description">
                                <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>