@model Transpo.WebApp.Models.RideDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<img src="@Model.Driver.PictureUrl" width="150" height="150" style="border-radius:10px" /><br />
Name : @Model.Driver.Name <br />
Email : @Model.Driver.Email<br />
Gender : @Model.Driver.Gender<br />
Link : @Model.Driver.Link<br />
Departure : @Model.Ride.Departure.ToString()<br />
Description : @Model.Ride.Description<br />
Detour : @Model.Ride.Detour<br />
Length : @Model.Ride.Length<br />
PricePerPassenger : @Model.Ride.PricePerPassenger<br />
SeatsLeft : @Model.Ride.SeatsLeft<br />
@if (Model.UserIsRider)
{
    foreach(var rider in Model.Riders){
        <div>Rider: @rider.Name <br /> Link: @rider.Link</div>
    }
}

<div class="ui container">
    <h4 class="ui header">@Model.Ride</h4>
    <div class="ui segment">
        <div class="ui two column divided grid">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="six wide column">
                            Place of Departure
                        </div>
                        <div class="ten wide column">
                            Skopje
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Place of Arrival
                        </div>
                        <div class="ten wide column">
                            Kumanovo
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Date of Departure
                        </div>
                        <div class="ten wide column">
                            Vtornik
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Details
                        </div>
                        <div class="ten wide column">
                            No details
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui dividing medium header">Info</div>
                <div class="row">
                    Row row row row
                </div>
                <div class="ui dividing medium header">Driver</div>
                <div class="row">
                    <div class="ui card">
                        <div class="content">
                            <img class="left floated tiny circular ui image" />
                            <div class="ui medium header">
                                Martin J
                            </div>
                            <div class="meta">
                                20 years
                            </div>
                            <div class="description">
                                <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>