@using Transpo.WebApp.Models
@using System.Globalization
@model RideDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<div class="ui small modal" id="sendMessageModal">
    @if (!Model.UserIsRider)
    {
        Html.RenderAction("SendMessage", "Messages", new { @id = Model.RideId });
    }
</div>
<div class="ui container">
    <h4 class="ui header">
        @for (int i = 0; i < Model.Points.Count; i++)
        {
            <span>
                @if (i != 0) { 
                    <i class="long arrow right icon"></i>
                }
                @Model.Points[i].Name
            </span>
        }
    </h4>
    <div class="ui segment">
        <div class="ui two column divided grid">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="six wide column">
                            Место на поаѓање:
                        </div>
                        <div class="ten wide column">
                            @Model.Points.First().Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Место на пристигнување:
                        </div>
                        <div class="ten wide column">
                            @Model.Points.Last().Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Датум на поаѓање:
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Departure.ToString("dddd, dd MMMM yyyy, HH:mm", new CultureInfo("mk-MK"))
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="six wide column">
                            Detour
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Detour
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="six wide column">
                            Детали:
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Description
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui dividing medium header">Информации</div>
                <div class="ui centered grid">
                    <div class="ui centered row">
                        <div class="ui statistic">
                            <div class="value">
                                @Convert.ToInt32(Model.Ride.PricePerPassenger)
                            </div>
                            <div class="label">
                                денари по патник
                            </div>
                        </div>
                    </div>
                    <div class="ui centered row">
                        <div class="ui teal statistic">
                            <div class="value">
                                @Model.Ride.SeatsLeft
                            </div>
                            <div class="label">
                                слободни места
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui dividing medium header">Возач</div>
                <div class="row">
                    <div class="ui card">
                        <div class="content">
                            <img class="left floated tiny circular ui image" src="@Url.Content(Model.Driver.PictureUrl)" />
                            <div class="ui medium header">
                                @if (Model.Driver.Name.Contains(@"@"))
                                {
                                    <span>@Model.Driver.Name.Split('@')[0].ToString()</span>
                                }
                                else
                                {
                                    <span>@Model.Driver.Name</span>
                                }
                            </div>
                            <div class="meta">
                                @Model.Driver.Age год.
                            </div>
                            <div class="description">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span>тел. @Model.Driver.Phone</span>
                                }
                                else
                                {
                                    <span>@Model.Driver.Email</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.UserIsRider != true)
                {
                    <div class="ui divider"></div>
                    <div class="row">
                        <button id="btnSendMessage" class="ui labeled icon positive button big"><i class="talk icon"></i> Испрати порака</button>
                    </div>
                }
                @if (Model.UserIsRider)
                {
                    <div class="ui dividing medium header">Опции</div>
                    <div class="row">
                        <button class="ui negative button">
                            <i class="minus circle icon"></i>
                            @Html.ActionLink("Избриши", "DeleteRide", new { id = Model.RideId }, new { @style = "color:white;" })
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    $('#sendMessageModal').modal("setting", {
        onShow: function () {
        }
    });
    $('#btnSendMessage').on('click', function () {
        $('#sendMessageModal').modal('show');
    });
    @*$.ajax({
        url : @String.Format("{0}/{1}", HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority), "Rides/AddMeToUser"),
        data : { rideId : @Model.RideId }
    })*@
</script>