@using Transpo.WebApp.Models
@model RideDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="ui container">
    <h4 class="ui header">
        @for (int i = 0; i < Model.Points.Count; i++)
        {
            <span>
                @if (i != 0) { 
                    <i class="long arrow right icon"></i>
                }
                @Model.Points[i].Name
            </span>
        }
    </h4>
    <div class="ui segment">
        <div class="ui two column divided grid">
            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="six wide column">
                            Place of Departure
                        </div>
                        <div class="ten wide column">
                            @Model.Points.First().Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Place of Arrival
                        </div>
                        <div class="ten wide column">
                            @Model.Points.Last().Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Date of Departure
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Departure
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Detour
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Detour
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            Details
                        </div>
                        <div class="ten wide column">
                            @Model.Ride.Description
                        </div>
                    </div>
                    @if (Model.UserIsRider)
                    {
                        <div class="row">
                            @if (Model.Riders != null)
                            {
                                foreach (var rider in Model.Riders)
                                {
                                    <div>Rider: @rider.Name - Link: @rider.Link</div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="four wide column">
                <div class="ui dividing medium header">Info</div>
                <div class="row">
                    <div>@Model.Ride.PricePerPassenger MKD per passenger.</div>
                    <div>@Model.Ride.SeatsLeft seats left.</div>

                    @if (Model.UserIsRider != true)
                    {
                        <div><button id="letsride" class="ui positive button huge">Let's ride together! <i class="car icon"></i></button></div>
                    }
                </div>
                <div class="ui dividing medium header">Driver</div>
                <div class="row">
                    <div class="ui card">
                        <div class="content">
                            <img class="left floated tiny circular ui image" src="@Model.Driver.PictureUrl" />
                            <div class="ui medium header">
                                @Model.Driver.Name
                            </div>
                            <div class="meta">
                                @Model.Driver.Gender
                            </div>
                            <div class="description">
                                @Model.Driver.Email
                                <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $.ajax({
        url : @String.Format("{0}/{1}", HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority), "Rides/AddMeToUser"),
        data : { rideId : @Model.RideId }
    })
</script>