@model Transpo.WebApp.Models.ChangePasswordViewModel
@{
    //ViewBag.Title = "Change Password";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "ui form changepasswordform", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4 class="ui dividing header">Change Password Form</h4>

    @Html.ValidationSummary(true, "", new { @class = "ui error message", @style = "display:block;" })

    <div class="ui grid">
        <div class="four wide column">
            <div class="field">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <button type="submit" value="Change password" class="ui button primary" id="btnChangePassword">Change Password</button>
        </div>
    </div>
}

<script>

    $.fn.form.settings.rules.matchPasswords = function (value) {
        return $('[name="NewPassword"]').val() === value;
    }

    $('.ui.form.changepasswordform').form({
        fields: {
            oldPassword: {
                identifier: 'OldPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Please enter a new password'
                },
                {
                    type: 'length[6]',
                    prompt: 'Your password must be at least 6 characters'
                }
                ]
            },
            newPassword: {
                identifier: 'NewPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Please enter a new password'
                },
                {
                    type: 'length[6]',
                    prompt: 'Your password must be at least 6 characters'
                }
                ]
            },
            confirmPassword: {
                identifier: 'ConfirmPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Please confirm the password'
                },
                {
                    type: 'matchPasswords',
                    prompt: 'Your passwords must match'
                }
                ]
            }
        },
        inline: true,
        onSuccess: function (e, data) {
            e.preventDefault();
            $('#btnSetPassword').addClass('loading');

            var data = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                model: {
                    OldPassword: $('[name="OldPassword"]').val(),
                    NewPassword: $('[name="NewPassword"]').val(),
                    ConfirmPassword: $('[name="ConfirmPassword"]').val()
                }
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangePassword", "Manage")',
                data: data,
                success: function (data) {
                    if ($(data)[1].localName === "meta") {
                        $('#manageStatusMessage').html('Password successfully changed.').css('display','block');
                        $('.ui.form.changepasswordform').form('reset');
                    } else {
                        $('#manageFormPartial').html(data);
                    }
                }
            })
        }
    });
</script>