@model Transpo.WebApp.Models.SetPasswordViewModel
@{
    //ViewBag.Title = "Create Password";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>*@
<p class="text-info">
    Немате локално корисничко име или лозинка за овој сајт. Додајте локална
    сметка така што ќе можете да се најавите без екстерна сметка.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "ui form setpasswordform", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4 class="ui dividing header">Креирај локален логин</h4>

    @Html.ValidationSummary(true, "", new { @class = "ui error message", @style = "display:block;" })

    <div class="ui stackable grid">
        <div class="column">
            <div class="field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <button type="submit" value="Set password" class="ui button primary" id="btnSetPassword">Постави лозинка</button>
        </div>
    </div>

}

<script>
    $.fn.form.settings.rules.matchPasswords = function (value) {
        return $('[name="NewPassword"]').val() === value;
    }

    $('.ui.form.setpasswordform').form({
        fields: {
            password: {
                identifier: 'NewPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Внесете лозинка'
                },
                {
                    type: 'length[6]',
                    prompt: 'Вашата лозинка мора да има барем 6 карактери'
                }
                ]
            },
            confirmPassword: {
                identifier: 'ConfirmPassword',
                rules: [
                {
                    type: 'empty',
                    prompt: 'Потврдете ја лозинката'
                },
                {
                    type: 'matchPasswords',
                    prompt: 'Вашите лозинки мора да се совпаѓаат'
                }
                ]
            }
        },
        inline: true,
        onSuccess: function (e, data) {
            e.preventDefault();
            $('#btnSetPassword').addClass('loading');

            var data = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                model: {
                    NewPassword: $('[name="NewPassword"]').val(),
                    ConfirmPassword: $('[name="ConfirmPassword"]').val()
                }
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetPassword", "Manage")',
                data: data,
                success: function (data) {
                    window.location.reload();
                }
            })
        }
    });
</script>