@using Transpo.WebApp.Models
@model SearchModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/components/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=mk'></script>
</head>
<body>
    <div class="ui zoomed main-header center aligned segment">
        <div class="ui large secondary inverted pointing menu">
            <div class="ui container">
                @{ Html.RenderPartial("_MenuContent"); }
            </div>
        </div>
        
        <div class="ui text container">
            <img src="~/Images/logo.png" style="width: 70%;" >
            <h2>Find you ride.</h2>
            @using (Html.BeginForm("PerformSearch", "Search", FormMethod.Get))
            { 
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui big icon input">
                                <input type="text" id="searchbox-from" placeholder="From">
                                @Html.HiddenFor(model => model.FromLongitude)
                                @Html.HiddenFor(model => model.FromLatitude)
                                @Html.HiddenFor(model => model.FromCityName)
                                @Html.HiddenFor(model => model.FromCountryShortCode)
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui big icon input">
                                <input type="text" id="searchbox-to" placeholder="To">
                                @Html.HiddenFor(model => model.ToLongitude)
                                @Html.HiddenFor(model => model.ToLatitude)
                                @Html.HiddenFor(model => model.ToCityName)
                                @Html.HiddenFor(model => model.ToCountryShortCode)
                            </div>
                        </div>
                    </div>
                    <input type="submit" id="submitSearch" hidden />
                    <div class="ui massive primary button" id="btnSubmitSearch">Go<i class="right arrow icon"></i></div>
                </div>
            }
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment" id="rideSearchGrid">
            @{ Html.RenderPartial("~/Views/Search/_SearchResultsGrid.cshtml", ViewData["Rides"]); }
        </div>
    </div>

    <script src="~/Scripts/home.index.js"></script>
    <script src="~/Scripts/places-searchbox.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        initMapsSearch();
        $('.menu .item.home').addClass('active');
    </script>
</body>
</html>

