@using Transpo.WebApp.Models
@model SearchModel
@{
    ViewBag.Title = "Kinisaj.mk";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/components/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBVN58-jkZ2dRApWvpMqOssPjzkSPmdkPQ&v=3.exp&libraries=places&language=mk-MK'></script>
</head>
<body>
    <div class="ui zoomed main-header center aligned segment">
        <img src="~/Images/Backgrounds/Slika-min.jpg" class="bgUnloaded" id="indexbg"/>

        <div class="ui secondary inverted stackable container menu">
            @{ Html.RenderPartial("_MenuContent"); }
        </div>
        
        <div class="ui text container">
            <img src="~/Images/logo.png" style="width: 70%;" >
            <div class="ui huge dividing header" style="color:white;">Најди го својот превоз</div>
            @using (Html.BeginForm("PerformSearch", "Search", FormMethod.Get, new { @class = "ui form findrideform" }))
            {
                <div class="fields">
                    <div class="seven wide field">
                        <div class="ui big icon input">
                            <input type="text" name="Origin" id="searchbox-from" placeholder="Од">
                            @Html.HiddenFor(model => model.FromLongitude)
                            @Html.HiddenFor(model => model.FromLatitude)
                            @Html.HiddenFor(model => model.FromCityName)
                            @Html.HiddenFor(model => model.FromCountryShortCode)
                        </div>
                    </div>
                    <div class="two wide field"></div>
                    <div class="seven wide field">
                        <div class="ui big icon input">
                            <input type="text" name="Destination" id="searchbox-to" placeholder="До">
                            @Html.HiddenFor(model => model.ToLongitude)
                            @Html.HiddenFor(model => model.ToLatitude)
                            @Html.HiddenFor(model => model.ToCityName)
                            @Html.HiddenFor(model => model.ToCountryShortCode)
                        </div>
                    </div>
                </div>
                @*<input type="submit" id="submitSearch" hidden />*@
                <button class="ui massive primary button" id="btnSubmitSearch" type="submit">Барај<i class="right arrow icon"></i></button>
            }
        </div>
    </div>
    <div class="ui container">
        <div class="ui horizontal large divider" style="font-size:24px;">
            Понудени превози
        </div>
        <div class="ui segment" id="rideSearchGrid">
            @{ Html.RenderPartial("~/Views/Shared/_SearchResultsGrid.cshtml", ViewData["Rides"]); }
        </div>
    </div>

    <script src="~/Scripts/home.index.js"></script>
    <script src="~/Scripts/places-searchbox.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        initMapsSearch();
        $('.menu .item.home').addClass('active');
        if ("@ViewBag.Login" == "True") {
            $('#btnLogin').click();
        }
    </script>
</body>
</html>

