@{
    if (ViewBag.UnreadMessages == null)
    {
        ViewBag.UnreadMessages = 0;
    }
}

@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "item home" })
@Html.ActionLink("Create Ride", "Create", "Rides", new { area = "" }, new { @class = "item create" })

@if (Request.IsAuthenticated)
{
    <a class="item myrides" href='@Url.Action("MyRides","Rides")'>My Rides</a>
    <a class="item messages" href='@Url.Action("Index", "Messages")'>
        <div class="statistic" >
            @if (ViewBag.UnreadMessages > 0)
            {
                <div class="value">
                    <i class="talk icon"></i> @ViewBag.UnreadMessages
                </div>
            }
            <div class="label">Messages</div>
        </div>
    </a>
}

<div class="right item">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <span>@Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span>

            <input type="submit" class="ui button" value="Log Off" />
        }
    }
    else
    {
        /*<a class="ui inverted button" id="login" href="@Url.Action("Login", "Account", new { returnUrl = "Home/Index" })">Login</a>*/
        <button class="ui button" id="btnLogin" >Login</button>
    }
    <div class="ui tiny modal" id="loginModal">
        @{ Html.RenderAction("Login", "Account"); }
    </div>
</div>
<script>
    $('#loginModal').modal("setting", {
        onShow: function () {
        }
    });
    $('#btnLogin').on('click', function () { $('#loginModal').modal('show'); })
</script>
