@using Transpo.WebApp.Models
@model SearchModel

@using (Ajax.BeginForm("PerformSearchPartial", "Search", new AjaxOptions { UpdateTargetId = "rideSearchGrid", HttpMethod = "Get", OnSuccess = "SearchSuccess();" }, new { @id = "performsearchform" }))
{
    <div class="ui form">
        <div class="ui grid">
            <div class="fourteen wide column">
                <div class="two fields">
                    <div class="field">
                        <div class="ui icon input">
                            <input type="text" id="searchbox-from" placeholder="Од" value="@Model.FromCityName">
                            @Html.HiddenFor(model => model.FromLongitude)
                            @Html.HiddenFor(model => model.FromLatitude)
                            @Html.HiddenFor(model => model.FromCityName)
                            @Html.HiddenFor(model => model.FromCountryShortCode)
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui icon input">
                            <input type="text" id="searchbox-to" placeholder="До" value="@Model.ToCityName">
                            @Html.HiddenFor(model => model.ToLongitude)
                            @Html.HiddenFor(model => model.ToLatitude)
                            @Html.HiddenFor(model => model.ToCityName)
                            @Html.HiddenFor(model => model.ToCountryShortCode)
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(x => x.Date)
            <div class="two wide column">
                <input type="submit" id="submitSearch" hidden />
                <div class="ui big primary button" id="btnSubmitSearch">Барај<i class="right arrow icon"></i></div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/places-searchbox.js"></script>
<script>
    initMapsSearch();
</script>