@{
    Layout = null;
}
@using System.Globalization
@using Transpo.WebApp.Models
@model IEnumerable<RideModel>

<div class="ui divided items">
    @foreach (var ride in Model)
    {
        <div class="ui item">
            @*@Html.HiddenFor(x => ride.RideId)*@
            <div class="content">
                <div class="ui stackable grid" style="position:relative;">
                    @if (ViewBag.IsMyRide == null)
                    {
                        <div class="five wide column">
                            <div class="ui card">
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="ui five wide column">
                                            <img class="left floated tiny circular ui image" src="@Url.Content(ride.Driver.PictureUrl)">
                                        </div>
                                        <div class="ui eleven wide column">
                                            <div class="ui header">
                                                @if (ride.Driver.Name.Split(' ').Count() > 1)
                                                {
                                                    <span>@ride.Driver.Name.Split(' ')[0] @ride.Driver.Name.Split(' ')[1].ToString()[0].</span>
                                                }
                                                else if (ride.Driver.Name.Contains(@"@"))
                                                {
                                                    <span>@ride.Driver.Name.Split('@')[0].ToString()</span>
                                                }
                                                else
                                                {
                                                    <span>@ride.Driver.Name</span>
                                                }
                                            </div>
                                            <div class="meta">
                                                @if (ride.Driver.Age.HasValue)
                                                {
                                                    <span>@ride.Driver.Age год.</span>
                                                }
                                            </div>
                                            <div class="description">
                                                @ride.Driver.Email
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical divider"></div>
                    }
                    <div class="six wide middle aligned column">
                        <a class="ui blue medium header" href='@Url.Action("Details", "Rides", new { @id = @ride.RideId })'>@ride.StartPoint.Name - @ride.EndPoint.Name</a>

                        <div class="ui description">
                            Поаѓање: @ride.DepartureDate.ToString("dddd, dd MMMM yyyy, HH:mm",new CultureInfo("mk-MK"))
                        </div>
                    </div>
                    <div class="five wide right floated middle aligned column">
                        <div class="ui small statistic">
                            <div class="value">
                                @Convert.ToInt32(ride.PricePerPassenger)
                            </div>
                            <div class="label">
                                денари по патник
                            </div>
                        </div>
                        <div class="ui teal small statistic">
                            <div class="value">
                                @ride.SeatsLeft
                            </div>
                            <div class="label">
                                слободни места
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('.rating').rating();
</script>